.signup {
    height: 100%;
}
.MainBkg {
    background-image: url('../../../public/background.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.contentWrap {
    width: 50%;
    min-width: 420px;
    max-width: 936px;
    height: auto;
    display: flex;
    position: relative;
}




.leftWrap {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #252525;
    border-radius: 4px 0 0 4px;
}
.rightWrap {
    position: relative;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
}
.leftWrap, .rightWrap {
    width: 50%;
    height: auto;
    min-height: 50vh;
    transition: all .25s ease-out;
}
.imgCont {
    width: 250px;
    min-width: 200px;
    margin-bottom: 20vh;
}
.textHld {
    width: 72%;
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: 13vh;
    left: 13%;
}
.img {
    width: 100%;
    height: auto;
}
.majorCap {
    font-size: 16px;
    margin-bottom: 2vh;
}
.minorText {
    font-size: 14px;
    line-height: 1.4;
}

.rightWrap .topHld {
    margin: 0 auto;
    max-width: 400px;
    padding: 6vh 10% 4vh;
}

.rightWrap .topHld .actionTitle {
    text-align: center;
    margin-bottom: 2vh;
}

.show {
    display: block;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
}

.googleIcon {
    background-color: rgb(66, 133, 244) !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.linkedinIcon {
    background-color: rgb(40, 103, 178) !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.microIcon {
    width: 100%;
    margin-bottom: 10px !important;
    background-color: rgb(242, 80, 34) !important;
}

.divider {
    color: rgb(102, 102, 102);
    width: 100%;
    margin: 0px !important;
}

.rightWrap .btHld {
    padding: 2vh 8%;
    background-color: rgba(37,37,37,.9);
    border-radius: 0 0 4px 0;
}

.rightWrap .btHld .innerNewText, .rightWrap .btHld .innerText {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    gap: 15px;
}

.rightWrap .btHld .innerNewText, .rightWrap .btHld .innerNewText .hide, .rightWrap .btHld .innerText {
    -webkit-animation: TextOutAnimation .25s ease-out;
    animation: TextOutAnimation .25s ease-out;
}

.rightWrap .btHld .innerNewText span, .rightWrap .btHld .innerText span {
    font-size: 14px;
}

@media (max-width: 900px) {
    .contentWrap {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: space-evenly;
    }
    .leftWrap {
        display: none !important;
    }

    .rightWrap {
        width: 100% !important;;
    }

    .rightWrap .btHld {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: env(safe-area-inset-bottom);
        padding: 2vh 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }

    .vertical-centre {
        width: 80%;
        max-width: 400px;
        position: absolute;
        -webkit-transform: translate(-50%,-47%);
        transform: translate(-50%,-47%);
        left: 50%;
        top: 50%;
    }
}


@media (max-width: 1180px) {
    .contentWrap {
        width: 67%;
    }
}